.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card-img {
  width: 32rem;
  height: 18rem;
}

.card-content {
  text-align: left;
  padding-left: 30px;
  position: relative;
  .card-name {
    font-size: 25px;
    font-weight: 400;
  }
  .id {
    color: #3e85a3;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .card-desc {
    color: #727d92;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: auto;
  }
  .view-btn {
    color: #27ae60;
    font-size: 19px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.card-spacer {
  color: #dbdfe2;
  margin: 1.5rem 0;
  text-align: center;
  width: 100%;
  height: 2px;
}
