.labs-container {
  background-color: white;
  box-shadow: 0px 5px 10px 1px #e4e4e4;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1320px;
  padding: 0 20px;
  height: 100%;
}

.labs-header {
  background-color: #80c465;
  color: white;
  padding: 96px 32px;
  font-size: 28px;
  font-weight: 600;
  margin: 25px 0;
  margin-top: 0;
}
