.register-background-wrapper{
    background: #AED489 url("../../assets/backgrounds/registerBackground.jpg") no-repeat;
    background-size: 20rem;
    background-position: 23% 3%;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.register-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height:100%;
    overflow-y: hidden;
    margin: 0 auto;
}

.register-carousel{
    position: relative;
    width: 70%;
    left: 10rem;
    top: 10rem;
}

.register-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    width: 25rem;
    height: 70%;
    margin-right: auto;
    margin-top: 5rem;
    .register-logo-container{
        margin: 2rem auto;
    }
    .register-input-container{
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem;
    }
    button{
        margin-top: 1rem;
        background-color: #ffa841;
    }
    button:hover{
        background-color: #995200;
    }
    button:active{
        background-color: #995200;
    }
    
    a{
        color: #27ae60;
    }
}

@media (max-width: 1000px){
    .register-background-wrapper{
        height: auto;
    }

    .register-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.25fr 2fr;
        height: auto;
    }
    .register-carousel{
        width: 90%;
        height: 50%;
        margin: 2rem auto;
        left: 0;
    }
    .register-form{
        height: 60%;
        margin: 2rem auto;
        margin-top: 12rem;
    }

}

@media (max-width: 820px){
    .register-form{
        height: 65%;
    }
}

@media (max-width: 745px){
    .register-form{
        height: 70%;
    }
}

@media (max-width: 650px){
    .register-form{
        height: 70%;
    }
}

@media (max-width: 600px){
    .register-form{
        height: 70%;
    }
}

@media (max-width: 450px){
    .register-form{
        height: 75%;
    }
}