.pagenav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .content-container {
    color: #727d92;
    text-align: left;
    margin: auto 0;
  }
  .nav-container {
    text-align: right;
  }
  .pagenav-btn {
    border: 1px solid #dbdfe2;
    color: #8b8b8b;
    background: white;
  }
}

@media (max-width: 620px) {
  .pagenav-container{
    display: flex;
    .nav-container{
      margin-left: auto;
    }
  }
}

@media (max-width: 433px) {
  .pagenav-container{
    display: block;
    .nav-container {
      position: relative;
      right: 10px;
    }
  }

}