.challenges-container {
  background-color: white;
  box-shadow: 0px 5px 10px 1px #e4e4e4;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1320px;
  padding: 0 20px;
  height: 100%;
}

.challenges-header {
  background-color: #80c465;
  color: white;
  padding: 20px;
  font-size: 28px;
  font-weight: 600;
  margin: 25px 0;
  margin-top: 0;
}

.descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  .desc-item {
    text-align: left;
    width: 95%;
    h2 {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: #8b8b8b;
      padding: 0 10px;
    }
    a {
      color: #007bff;
    }
    a:hover {
      color: #27ae60;
      opacity: 0.9;
    }
  }
}

.card-list {
  padding: 20px 0 1px 0;
}
