.footer-container {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
  right: 0;
  left: 0;
  height: 50px;
}

.footer-grid {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1280px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
  color: #727d92;
}

.version {
  text-align: left;
  margin: auto 0;
}

.footer-links {
  margin: auto 0;
}

.center-link {
  margin: 0 1rem;
}

.powered-by {
  text-align: right;
  margin: auto 0;
  span {
    font-weight: bold;
  }
}

@media (max-width: 1340px) {
  .footer-grid{
    width:890px;
  }
}

@media (max-width: 910px) {
  .footer-grid{
    width:600px;
  }
}

@media (max-width: 620px) {
  .footer-grid{
    width:413px;
  }
}

@media (max-width: 433px) {
  .footer-grid{
    width:320px;
  }
}